@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



:root {
    --color-one: #8261EE;
    --color-two: #ff589e;
    --color-text:#1e1e1e;
    --font: 'Raleway', 'sans-serif';
}

body{
    color: var(--color-text);
    line-height: 1.6;
    font-family: var(--font);
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--color-text);
}

a:hover {
    color:var(--color-two);
}

/* Button */
.button {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 45px;
    background: #fff;
    color: var(--color-text);
    font-size: 13px;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    
}

.button-two {
    background: var(--color-two);
    color: #fff;
    transition: all 0.3s ease 0s;
}

.button-two:hover {
    background: var(--color-one);
    color: #fff;
}
/* END Button */