/* Header */
.header {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.header .inner-main {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
    border-radius: 45px;
    background: #fff;
}

.header .inner-logo img {
    height: 30px;
    width: auto;
}

.header .inner-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header .inner-menu ul li {
    margin-left: 25px;
}

.header .inner-menu ul li a {
    color: var(--color-text);
    font-size: 14px;
    font-weight: 500;
}

.header .inner-menu ul li a:hover {
    color:var(--color-two)
}

a{
    text-decoration: none;
    color: var(--color-text);
}

a:hover {
    color:var(--color-two);
}

.header .inner-menu ul li a.active {
    text-decoration: none;
    color: var(--color-two);
}

/* End header */

/* Section One */
.section-one {
    background-image: url(../images/banner-bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-one .inner-wrap {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.section-one .inner-title {
    font-size: 32px;
    color: #fff;
    margin-bottom: 10px;
}

.section-one .inner-desc {
    color: #fff;
    margin-bottom: 20px;
    
}
/* End Section One */

/* Section two */

.section-two {
margin-top: -220px;

}

.section-two .inner-box {
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    background: #fff;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
} 

.section-two .inner-box .inner-icon {
    background: var(--color-one);
    margin: 0 auto;
    padding: 10px;
    width: 80px;
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 20px;
}

.section-two .inner-box.inner-box:hover .inner-icon {
    background: var(--color-two);
}

.section-two .inner-box .inner-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section-two .inner-box .inner-title {
    font-size: 18px; 
    margin-top: 20px;
    margin-bottom: 15px;
}

.section-two .inner-box .inner-desc {
    font-size: 13px;
    margin-bottom: 0;
}


/* End Section One */

/* Section Three */
.section-three {
    margin-top: 80px;
    margin-bottom: 80px;
}

.section-three .iner-image {
    text-align: center;
}

.section-three .iner-image img {
    max-width: 100%; 
    height: auto;
}
.section-three .inner-content .inner-title {
    font-size: 28px; 
    margin-bottom: 25px;
}

.section-three .inner-border-buttom {
    border-bottom: 1px solid #ddd;
    padding-bottom: 80px;
    margin-bottom: 80px;
}
/* END Section Three */

/* pricing */
.pricing-item {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 30px 0px 40px 0px;
}

.pricing-item.active .pricing-header {
  position: relative;
}

.pricing-item.active .pricing-header .pricing-title {
  color: #1e1e1e;
}

.pricing-item.active .pricing-body .price-wrapper {
  background-color: #ff589e;
}

.pricing-item.active .pricing-body .price-wrapper .currency {
  color: #fff;
}

.pricing-item.active .pricing-body .price-wrapper .price {
  color: #fff;
}

.pricing-item.active .pricing-body .price-wrapper .period {
  color: #fff;
}

.pricing-item .pricing-header {
  text-align: center;
  display: block;
  position: relative;
  padding-bottom: 10px;
}

.pricing-item .pricing-header .pricing-title {
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.25px;
  color: #1e1e1e;
  width: 180px;
  height: 40px;
  line-height: 40px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.pricing-item .pricing-body {
  margin-bottom: 40px;
}

.pricing-item .pricing-body .price-wrapper {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 13px;
  background: #8261ee;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 5px;
  border-radius: 20px;
}

.pricing-item .pricing-body .price-wrapper .currency {
  height: 47px;
  font-weight: 500;
  font-size: 32px;
  color: #fff;
  position: relative;
  top: -1px;
}

.pricing-item .pricing-body .price-wrapper .price {
  font-weight: 500;
  font-size: 28px;
  color: #fff;
}

.pricing-item .pricing-body .price-wrapper .period {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  display: block;
  letter-spacing: 0.88px;
}

.pricing-item .pricing-body .list li {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 13px;
  color: #7a7a7a;
  letter-spacing: 0.25px;
  text-decoration: line-through;
}

.pricing-item .pricing-body .list li.active {
  color: #7a7a7a;
  text-decoration: none;
}

.pricing-item .pricing-footer {
  text-align: center;
  margin-top: 50px;
}
/* END pricing */

/* Blog */
.blog-post-thumb {
  text-align: center;
  margin-bottom: 30px;
}

.blog-post-thumb.big .img {
  height: 400px;
}

.blog-post-thumb .img {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  height: 200px;
}

.blog-post-thumb .blog-content {
  margin-top: -30px;
  padding-top: 50px;
}

.blog-post-thumb h3 {
  margin-bottom: 20px !important;
}

.blog-post-thumb h3 a {
  font-weight: 500;
  font-size: 18px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  line-height: 26px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.blog-post-thumb h3 a:hover {
  color: #ff589e;
}

.blog-post-thumb .text {
  font-weight: 400;
  font-size: 13px;
  color: #777;
  letter-spacing: 0.26px;
  line-height: 26px;
  margin-bottom: 15px;
}

.blog-post-thumb .post-footer span {
  float: left;
  height: 30px;
  line-height: 30px;
  font-weight: 300;
  font-size: 14px;
  color: #777;
  padding-left: 30px;
}

.blog-post-thumb a.main-button  {
  margin-top: 10px;
  display: inline-block;
}

.blog-list .blog-post-thumb {
  text-align: left;
}
/* END Blog */



/* Footer */
footer {
  background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
  padding-top: 30px;
}

footer .social {
  overflow: hidden;
  margin-top: 10px;
  text-align: center;
}

footer .social li {
  margin: 0px 10px;
  display: inline-block;
}

footer .social li a {
  color: #9d5bd9;
   text-align: center;
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

footer .social li a:hover {
  background-color: #ff589e;
  color: #fff;
}

footer .copyright {
  text-align: center;
  border-top: 1px solid rgba(250,250,250,0.2);
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.88px;
  text-transform: uppercase;
}

/* End Footer */

